<div id="dashboard-project" class="page-layout simple right-sidenav" fxLayout="row">

    <mat-sidenav-container>

        <!-- CENTER -->
        <div class="center" fusePerfectScrollbar>

                <!-- HEADER -->
                <div class="header  mat-accent-bg white-fg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row"
                    fxLayoutAlign.gt-xs="space-between center">
                
                    <!-- APP TITLE -->
                
                    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'80ms',scale:'0.4'}}">dashboard</mat-icon>
                        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Dashboard</span>
                    </div>
                
                    <!-- / APP TITLE -->
                
                    
                
                </div>
                <!-- / HEADER -->

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group dynamicHeight>

                    <mat-tab label="Statistics">

                        <div class="widget-group grey-100-bg p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                                [@animateStagger]="{value:'50'}">

                            <!-- WIDGET 1 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                            fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div  class="fuse-widget-front mat-white-bg mat-elevation-z2" >
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                            fxLayoutAlign="space-between center">
                                        Question 1
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <canvas baseChart
                                            [data]="response1" *ngIf="response1"
                                            [labels]="doughnutChartLabels"
                                            [chartType]="doughnutChartType"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)"></canvas>
                                    </div>

                                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                        <span class="h4 secondary-text text-truncate">
                                            {{widgets.widget1.data.extra.label}}:
                                        </span>
                                        <span class="h4 ml-8" *ngIf="response1">
                                            {{response1[0] + response1[1]}}
                                        </span>
                                    </div>
                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                            <!-- / WIDGET 1 -->

                            <!-- WIDGET 2 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                            fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                            fxLayoutAlign="space-between center">
                                        Question 2
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                            <canvas baseChart
                                            [data]="response2" *ngIf="response2"
                                            [labels]="doughnutChartLabels"
                                            [chartType]="doughnutChartType"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)"></canvas>
                                    </div>

                                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                        <span class="h4 secondary-text text-truncate">
                                            {{widgets.widget1.data.extra.label}}:
                                        </span>
                                        <span class="h4 ml-8" *ngIf="response2">
                                            {{response2[0] + response2[1]}}
                                        </span>
                                    </div>
                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                            <!-- / WIDGET 2 -->

                            <!-- WIDGET 3 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                            fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                            fxLayoutAlign="space-between center">
                                        Question 3
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                            <canvas baseChart *ngIf="response3"
                                            [data]="response3"
                                            [labels]="doughnutChartLabels"
                                            [chartType]="doughnutChartType"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)"></canvas>
                                    </div>

                                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                        <span class="h4 secondary-text text-truncate">
                                            {{widgets.widget1.data.extra.label}}:
                                        </span>
                                        <span class="h4 ml-8" *ngIf="response3">
                                            {{response3[0] + response3[1]}}
                                        </span>
                                    </div>
                                </div>
                                <!-- / Front -->
                            </fuse-widget>
                            <!-- / WIDGET 3 -->

                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                                        <div class="h1">TOTAL RESPONSES</div>
                                    </div>
                                    <div class="pt-8 pb-20" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 18%;">
                                        <div class="light-blue-fg font-size-72 line-height-72" *ngIf="response1">
                                            {{(response1[1] + response1[0])*3}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">Response
                                        </div>
                                    </div>
                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                            <!-- / WIDGET 1 -->

                            <!-- WIDGET 6 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                            fxFlex="100" fxFlex.gt-sm="50">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

                                    <div class="px-16 py-8 border-bottom" fxLayout="row"
                                            fxLayoutAlign="space-between center">
                                        <div class="h3">Ages</div>
                                    </div>

                                    <div class="h-420 my-16">
                                        <ngx-charts-bar-vertical-stacked
                                            *fuseIfOnDom
                                            [scheme]="widget5.scheme"
                                            [results]="this.widgets.widget5.mainChart[this.widget5.currentRange]"
                                            [xAxis]="widget5.xAxis"
                                            [yAxis]="widget5.yAxis"
                                            [legend]="widget5.legend"
                                            [showXAxisLabel]="widget5.showXAxisLabel"
                                            [showYAxisLabel]="widget5.showYAxisLabel"
                                            [xAxisLabel]="widget5.xAxisLabel"
                                            [yAxisLabel]="widget5.yAxisLabel">
                                        </ngx-charts-bar-vertical-stacked>
                                    </div>

                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                            <!-- / WIDGET 6 -->

                            <!-- WIDGET 7 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                            fxFlex="100" fxFlex.gt-sm="50">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

                                    <div class="px-16 py-8 border-bottom" fxLayout="row"
                                            fxLayoutAlign="space-between center">
                                        <div class="h3">Men/Women</div>
                                    </div>

                                    <div class="h-400" *ngIf="filteredBysex">
                                        <ngx-charts-pie-chart 
                                            *fuseIfOnDom
                                            [scheme]="widget6.scheme"
                                            [results]="widgets.widget6.mainChart[widget6.currentRange]"
                                            [legend]="widget6.showLegend"
                                            [explodeSlices]="widget6.explodeSlices"
                                            [labels]="widget6.labels"
                                            [doughnut]="widget6.doughnut"
                                            [gradient]="widget6.gradient"
                                            (select)="widget6.onSelect($event)">
                                        </ngx-charts-pie-chart>
                                    </div>

                                    <div class="py-8 mh-16 border-top" fxLayout="row wrap" fxLayoutAlign="start center">

                                        <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center"
                                                fxFlex="100" fxFlex.gt-sm="50">
                                            <span class="mat-display-1 mb-0" *ngIf="filteredBysex">
                                                {{filteredBysex.maleNumber}}
                                            </span>
                                            <span class="h4">Men</span>
                                        </div>

                                        <div class="py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100"
                                                fxFlex.gt-sm="50">
                                            <span class="mat-display-1 mb-0" *ngIf="filteredBysex">
                                                {{filteredBysex.femaleNumber}}
                                            </span>
                                            <span class="h4">Women</span>
                                        </div>
                                    </div>

                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                            <!-- / WIDGET 7 -->

                        </div>
                        <!-- / WIDGET GROUP -->

                    </mat-tab>

                    <mat-tab label="Response list">

                        <!-- WIDGET GROUP -->
                        <div class="widget-group grey-100-bg" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                                [@animateStagger]="{value:'50'}">
                            
                            <!-- WIDGET 11 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row"
                                            fxFlex="100">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <app-response-list></app-response-list>
                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                            <!-- / WIDGET 11 -->

                        </div>
                        <!-- / WIDGET GROUP -->

                    </mat-tab>
                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </mat-sidenav-container>

</div>
    