<mat-table class="products-table"
            #table [dataSource]="dataSource"
            matSort
            [@animateStagger]="{value:'50'}"
            fusePerfectScrollbar>

    <!-- ID Column -->
    <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef>Name</mat-header-cell>
        <mat-cell *cdkCellDef="let record">
            <p class="text-truncate">{{record.name}}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="age">
        <mat-header-cell *cdkHeaderCellDef>Age</mat-header-cell>
        <mat-cell *cdkCellDef="let record">
            <p class="text-truncate">{{record.age}}</p>
        </mat-cell>
    </ng-container>

    <!-- Category Column -->
    <ng-container cdkColumnDef="sex">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Sex</mat-header-cell>
        <mat-cell *cdkCellDef="let record" fxHide fxShow.gt-md>
            <p class="category text-truncate">
                {{record.sex}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container cdkColumnDef="response1">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-xs>Question 1</mat-header-cell>
        <mat-cell *cdkCellDef="let record" fxHide fxShow.gt-xs>
            <p class="price text-truncate" *ngIf="record.response1">  
              Yes
            </p>
            <p class="price text-truncate" *ngIf="!record.response1">  
              No
            </p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="response2">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-xs>Question 2</mat-header-cell>
        <mat-cell *cdkCellDef="let record" fxHide fxShow.gt-xs>
            <p class="price text-truncate" *ngIf="record.response2">  
              Yes
            </p>
            <p class="price text-truncate" *ngIf="!record.response2">  
              No
            </p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="response3">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-xs>Question 3</mat-header-cell>
        <mat-cell *cdkCellDef="let record" fxHide fxShow.gt-xs>
            <p class="price text-truncate" *ngIf="record.response3">  
              Yes
            </p>
            <p class="price text-truncate" *ngIf="!record.response3">  
              No
            </p>
        </mat-cell>
    </ng-container>
  
    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *cdkRowDef="let product; columns: displayedColumns;"
                class="product"
                matRipple>
    </mat-row>

</mat-table>

<mat-paginator #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

