<div id="academy-course" class="page-layout simple left-sidenav">

  <mat-sidenav-container>

    <!-- SIDENAV -->
    <mat-sidenav class="sidenav" align="start" opened="true" mode="side"
                  fuseMatSidenavHelper="academy-left-sidenav" mat-is-locked-open="gt-md">

      <div class="sidenav-content" fusePerfectScrollbar>

        <div class="steps">

          <div class="step"
                (click)="gotoStep(0)"
                [ngClass]="{'current': currentStep === 0, 'completed': currentStep > 1, 'last': last, 'first': first}">
            <div class="index">
                <span>1</span>
            </div>
            <div class="title">Inscription</div>
          </div>
          <div class="step"
                (click)="gotoStep(1)"
                [ngClass]="{'current': currentStep === 1, 'completed': currentStep > 1, 'last': last, 'first': first}">
            <div class="index">
                <span>2</span>
            </div>
            <div class="title">Question 1</div>
          </div>
          <div class="step"
                (click)="gotoStep(2)"
                [ngClass]="{'current': currentStep === 2, 'completed': currentStep > 2, 'last': last, 'first': first}">
            <div class="index">
                <span>3</span>
            </div>
            <div class="title">Question 2</div>
          </div>
          <div class="step"
                (click)="gotoStep(3)"
                [ngClass]="{'current': currentStep === 3, 'completed': currentStep > 3, 'last': last, 'first': first}">
            <div class="index">
                <span>4</span>
            </div>
            <div class="title">Question 3</div>
          </div>

        </div>

      </div>

    </mat-sidenav>
    <!-- / SIDENAV -->

    <!-- CENTER -->
    <div class="center">

      <!-- HEADER -->
      <div class="header mat-accent-bg p-24" fxLayout="row" fxLayoutAlign="start center">

        <button mat-button class="mat-icon-button mr-16 sidenav-toggle"
                fuseMatSidenavToggler="academy-left-sidenav" fxHide.gt-md>
          <mat-icon>menu</mat-icon>
        </button>

          <!-- <button mat-button class="mat-icon-button mr-16" [routerLink]="'/apps/academy/courses'">
              <mat-icon>arrow_back</mat-icon>
          </button> -->

        <div>
          <h2>Questionnaire</h2>
        </div>

      </div>
      <!-- / HEADER -->

      <!-- CONTENT -->
      <div id="course-content" class="content">

        <!--INSCRIPTION-->
        <ng-container>

          <div class="course-step" fusePerfectScrollbar
                *ngIf="currentStep === 0"
                [@slideIn]="animationDirection">

            <div id="course-step-content" class="course-step-content">
              
              
              <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" >
                <div class="h2 mb-24">Step 1 - Inscription</div>
                
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              
                  <mat-form-field fxFlex="100">
                      <input matInput placeholder="Pseudo" name="name" [(ngModel)]="record.name" required>
                  </mat-form-field>
              
                </div>
              
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                  <mat-form-field fxFlex="100">
                    <mat-select placeholder="Sex" name="sex" [(ngModel)]="record.sex" required>
                      <mat-option [value]="'male'">
                        Male
                      </mat-option>
                      <mat-option [value]="'female'">
                        Female
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
              
                  <mat-form-field fxFlex="100">
                    <input matInput type="number" placeholder="Age" [(ngModel)]="record.age" name="age" required>
                  </mat-form-field>
              
                </div>
                
              </form>
            </div>

          </div>

        </ng-container>
        <!--FIN INSCRIPTION--> 

        <!--QUESTION 1-->
        <ng-container>

          <div class="course-step" fusePerfectScrollbar
                *ngIf="currentStep === 1"
                [@slideIn]="animationDirection">

            <div id="course-step-content" class="course-step-content">
              
              <h1>Step 2 - Question 1</h1>
              <br>
              <h3>Are you looking for a better job ?</h3>
              <mat-radio-group [(ngModel)]="record.response1">
                <mat-radio-button [value]=true>Yes</mat-radio-button>
                <br>
                <mat-radio-button [value]=false>No</mat-radio-button>
              </mat-radio-group> 
            </div>

          </div>

        </ng-container>
        <!-- FIN QUESTION 1 -->

        <!--QUESTION 2-->
        <ng-container>

          <div class="course-step" fusePerfectScrollbar
                *ngIf="currentStep === 2"
                [@slideIn]="animationDirection">

            <div id="course-step-content" class="course-step-content">
              
              <h1>Step 3 - Question 2</h1>
              <br>
              <h3>Hare you planning to start a new business ?</h3>
              <mat-radio-group [(ngModel)]="record.response2">
                <mat-radio-button [value]=true>Yes</mat-radio-button>
                <br>
                <mat-radio-button [value]=false>No</mat-radio-button>
              </mat-radio-group> 
            </div>

          </div>

        </ng-container>
        <!-- FIN QUESTION 2 -->

        <!--QUESTION 3-->
        <ng-container>

          <div class="course-step" fusePerfectScrollbar
                *ngIf="currentStep === 3"
                [@slideIn]="animationDirection">

            <div id="course-step-content" class="course-step-content">
              
              <h1>Step 4 - Question 3</h1>
              <br>
              <h3>Would you like to join Wizy.io ?</h3>
              <mat-radio-group [(ngModel)]="record.response3">
                <mat-radio-button [value]=true>Yes</mat-radio-button>
                <br>
                <mat-radio-button [value]=false>No</mat-radio-button>
              </mat-radio-group> 
            </div>

          </div>

        </ng-container>
        <!-- FIN QUESTION 3 -->


      </div>
      <!-- / CONTENT -->

      <div class="step-navigation">

        <button mat-fab class="previous mat-accent white-fg"
                (click)="gotoPreviousStep()"
                [disabled]="currentStep === 0"
                [fxHide]="currentStep === 0">
          <mat-icon>chevron_left</mat-icon>
        </button>

        <button mat-fab class="next mat-accent white-fg"
                (click)="gotoNextStep()"
                [disabled]="currentStep === course.totalSteps - 1"
                [fxHide]="currentStep === course.totalSteps - 1">
          <mat-icon>chevron_right</mat-icon>
        </button>

        <button mat-fab class="done mat-green-600-bg"
                (click)="sendQuestionnaire(record)"
                [disabled]="currentStep !== course.totalSteps - 1"
                [fxShow]="currentStep === course.totalSteps - 1">
          <mat-icon>check</mat-icon>
        </button>

      </div>

    </div>
    <!-- / CENTER -->

  </mat-sidenav-container>

</div>
