// Import Fuse main library
@import "@fuse/scss/core";

.success-toaster{
    background:#009687
}

.error-toaster{
    background:#ff0000
}

.warning-toaster{
    background:#ff5e00
}

mat-form-field{
    width: 100%;
}